@import "../../sass/variables";

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding: 20px 80px;
  padding: 3% 10% 0% 10%;
}

.contentArea {
  background-color: $secondary;
  justify-content: space-between;
}

h4 {
  color: $secondaryText;
  opacity: 0.4;
  font-style: italic;
}
