// title color//background #f5f3ef // light
// general text #0D1117 // dark blue
// secondary #e2e5de; // green
$primary: #f5f3ef;
$secondary: #e2e5de;
$textColor: #0D1117;
$secondaryText: #757d75;


$mainFont: 'Oswald', sans-serif;
