// title color//background #f5f3ef // light
// general text #0D1117 // dark blue
// secondary #e2e5de; // green


body {
  font-family: 'Oswald', sans-serif;
  color: #0D1117;
  background-color: #f5f3ef;
}
